
.carre{
    width:100px;
    height:100px;
    background: cornflowerblue;
    margin:1px;
    text-align: center;

}
.carre1{
    width:100px;
    height:100px;
    background:red;
    margin:1px;
    text-align: center;

}
.carre2{
    width:100px;
    height:100px;
    background:pink;
    margin:1px;
    text-align:center;


}
p{
    margin-top: 30px;
    font-size: 25px; 
    color:
}
.line{
    display: flex; 
}
